# =========================
# Rust
# =========================
**/target/
**/.rustc_info.json

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Windows
# =========================
Thumbs.db
Desktop.ini

# =========================
# Logs
# =========================
*.log